
<%- include header %>
        <form method="post">
            USER:<input type="text" name="name"/><br />
        PASSWORD:<input type="password" name="password"/><br />
                 <input type="submit" value="LOGIN"/>
        </form>
<%- include footer %>
