
<%- include header %>
        <form method="post">
          TITLE ：<br />
        <input type="text" name="title" /><br />
          PASSAGE: <br />
        <textarea name="post" rows="20" cols="150" ></textarea><br />
        <input type="submit" value="POST"/>

        </form>
<%- include footer %>
