<!DOCTYPE html>
<%- include header %>
        <form method="post">
        USERNAME:<input type="text" name="name"/><br />
        PASSWORD:<input type="text" name="password"/><br />
  REPEATPASSWORD:<input type="text" name="repeat-password"/><br />
           EMAIL:<input type="email" name="email"/><br />
                 <input type="submit" value="REGISTER"/>
        </form>
<%- include footer %>
